// scrollbar style
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  background-color: var(--main-bgc);
}
// track
::-webkit-scrollbar-track {
  border-radius: 12px;
}
// handler
::-webkit-scrollbar-thumb {
  background: var(--grey-dark);
  border-radius: 10px;
  border: 3px solid var(--main-bgc);
}

// nuxt-color-mode
:root {
  --green-dark: #355e41;
  --green-light: #41b883;
  --blue-dark: #5189c2;
  --main-bgc: #f5f2f0;
  --hover-bgc: #fffcfa;
  --grey-dark: rgba(0, 0, 0, 0.25);
  --grey-light: rgba(0, 0, 0, 0.07);
}
[nuxt-color-mode='dark'] {
  --green-dark: #41b883;
  --green-light: #a4dfc4;
  --blue-dark: #8ab6db;
  --main-bgc: #222;
  --hover-bgc: #333;
  --grey-dark: rgba(255, 255, 255, 0.25);
  --grey-light: rgba(255, 255, 255, 0.1);

  color: #f5f2f0;
}

// size
$sidebar-width: 240px;
$hide-sidebar-width: 40px;
$footerbar-height: 96px;

// global style
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-m {
  overflow: hidden;
  text-overflow: ellipsis;
}

@import './markdown.scss';
