// color
$green-dark: #355e41;
$green-light: #41b883;
$blue-dark: #34495e;
$main-bgc: #f5f2f0;
$hover-bgc: #fffcfa;

// size
$sidebar-width: 240px;
$hide-sidebar-width: 40px;
$footerbar-height: 72px;

// global style
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-m {
  overflow: hidden;
  text-overflow: ellipsis;
}

// markdown content

.markdown_content {
  .nuxt-content {
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    .active_title {
      padding-left: 1rem;
      transition: 1s;
      color: $green-light;
    }
    h1,
    h2,
    h3 {
      padding-left: 0;
      display: inline-block;
      padding-top: 60px;
      position: relative;
      a {
        position: absolute;
        top: 60px;
        bottom: 0;
        right: 0;
        left: 0;
        outline: none;
      }
    }
    h1 {
      color: #1a202c;
      font-size: 2.4rem;
      font-weight: 600;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
    }
    h2 {
      font-weight: 600;
      font-size: 1.75rem;
      margin-bottom: 28px;
      line-height: 1.33;
    }
    h3 {
      font-weight: 600;
      font-size: 1.25rem;
      margin-bottom: 20px;
      line-height: 1.6;
    }
    p {
      padding-bottom: 40px;
      text-indent: 2rem;
      color: $green-dark;
      font-weight: 300;
      line-height: 2;
    }
  }
}

// scrollbar style

::-webkit-scrollbar {
  width: 12px;
  background-color: $main-bgc;
}
// track
::-webkit-scrollbar-track {
  border-radius: 12px;
}
// handler
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 3px solid $main-bgc;
}
